/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #0c0138;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2 {
    color: #fbf8f8;
}

table {
    width: 83%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tfoot {
    background-color: #f9f9f9;
    font-weight: bold;
}

#total-price {
    text-align: right;
}

/* Form Styles */
form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    text-align: left;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="month"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="month"]:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}
/* Seat Preferences Styling */
#seat-preferences-form {
    margin-top: 20px;
    padding: 15px;
    border: 3px solid #ccc;
    
    background-color: #f8f8f8;
    max-width: 1250px;
  }
  
  #seat-preferences-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  #seat-preferences-form select,
  #seat-preferences-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #aaa;

    box-sizing: border-box;
  }
  
